<!DOCTYPE html>
<html>

<head>
	<title>CARAS | <%= @page.title %></title>
</head>

<body>
  
<div class="jumbotron" style="background-image: url(<%= @page.jumbotronImagePath %>);">
  <div>
    <h1><%= @page.jumbotronTitle %></h1>
    <p><%= @page.jumbotronDesc %></p>
  </div>
</div>

<div class="container">
    <%= raw @page.innerHTML %>
</div>

<%= render file: "layouts/footer" %>

</body>

</html>
