<!DOCTYPE html>
<html>

<head>
	<title>CARAS | Contact Us</title>
</head>

<body>
	<div id="header">
  	<table>
  		<tr>
  		   <td><img id="logo" src="/../caras-logo-transparent-no-text.png"></img></td>
  		   <td><h2>CARAS</h2>
  	<h3>Community Agency For </br>Resources, Advocacy & Services</h3></td>
  	    </tr>
  	</table>
  	
  	
  </div>
  
  <div id="nav">
    <ul>
      <li><%= link_to('About Us', '/en/about-us') %></li>
      <li><%= link_to('Contact Us', '/en/contact-us') %></li>
      <li><%= link_to('Events', '/en/events') %></li>
      <li><%= link_to('Gallery', '/en/gallery') %></li>
      <li><%= link_to('Blog', '/en/blog') %></li>
      <li><%= link_to('Meet the Team', '/en/meet-the-team') %></li>
    </ul>
  </div>
</body>

</html>