<!DOCTYPE html>
<html>

<head>
	<title>CARAS | Eventos</title>
</head>

<body>
	<div id="header">
  	<table>
  		<tr>
  		   <td><img id="logo" src="/../caras-logo-transparent-no-text.png"></img></td>
  		   <td><h2>CARAS</h2>
  	<h3>Agencia de la Comunidad por los </br>Recursos, Defensa y Servicios</h3></td>
  	    </tr>
  	</table>
  	
  	
  </div>
  
  <div id="nav">
    <ul>
      <li><%= link_to('Acerca de Nosotros', '/es/about-us') %></li>
      <li><%= link_to('Contáctenos', '/es/contact-us') %></li>
      <li><%= link_to('Eventos', '/es/events') %></li>
      <li><%= link_to('Galería', '/es/gallery') %></li>
      <li><%= link_to('El Blog', '/es/blog') %></li>
      <li><%= link_to('Conocer al Equipo', '/es/meet-the-team') %></li>
    </ul>
  </div>
</body>

</html>